@media screen and (max-width: 800px) {
  #min-width {
  background: var(--backg_body);
  }
  body {
    overflow-x: hidden;
  }
  main {
    padding: 0.5rem 0.5rem 0 !important;
  }
  banner {
    height: 300px !important;
    margin-bottom: 0 !important;
  }
  header > div:first-of-type > div:last-of-type, .adm_box_content > div:first-of-type > div:last-of-type {
    height: auto;
    flex-direction: column;
    padding: var(--padding_med) !important;
    gap: 0 !important;
  }
  header > div:first-of-type > div:last-of-type div, .adm_box_content > div:first-of-type > div:last-of-type div {
    padding: 0 !important;
  margin: 0 !important;
    border: none !important;
    gap: 1rem !important;
  }
  banner h1 {
    font-size: 5em !important;
  }
  banner sub, .kreskaogl > span {
    font-size: 1.5em !important;
  }
  main {
    width: 100%;
  }
  header .header_notes, .adm_box_content .header_notes, .poster-list.posts-users-list, .btn-black, .quick-reply .box-header img, .row_icon {
    display: none;
  }
  .row_icon, .select-subtle::after, .memberlist-avatar.tooltipstered, .memberlist-info > div:nth-child(2) {
    display: none !important;
  }
  header > div:first-of-type > div:last-of-type img, .adm_box_content > div:first-of-type > div:last-of-type img {
    width: auto !important;
    height: 90% !important;
  }
  header .header_links, .adm_box_content .header_links {
    left: 0;
  }
  header > div:first-of-type > div:last-of-type > div > div {
    overflow-x: auto !important;
  overflow-y: hidden !important;
    flex-direction: row !important;
    justify-content: space-between !important;
    height: 100px !important;
  }
  header, .adm_box_content {
    display: flex !important;
    flex-direction: column !important;
  }
  header > div:first-of-type > div h1 {
    font-size: 3em !important;
  }
  header > div:first-of-type > div sub, header .header_links {
    font-size: 1em !important;
  }
  header > div:first-of-type > div:last-of-type p, #slideBack, header .header_notes button, .adm_box_content .header_notes button, header .recent_topic, .adm_box_content .recent_topic {
    font-size: 1.0em !important;
    height: 200px;
  }
  header .recent_topic, .adm_box_content .recent_topic {
    height: 160px !important;
  }
  header .adm_box_content {
    font-size: 1.2em !important;
  }
  .header_banner .megafon {
    opacity: 1 !important;
    backdrop-filter: none;
    height: 100%;
    background: none;
    color: var(--color_text_1);
    font-size: 1em !important;
  }
  .niemaogl {
    height: 0 !important;
  }
  header .header_banner {
    height: 200px;
    background: none;
    padding: 0 var(--padding_med) !important;
    filter: none;
  }
  
  nav, nav .nav_links_user, nav .nav_links {
    flex-wrap: wrap;
  }
  nav .nav_links {
    justify-content: center;
    width: 100%;
  }
  nav .nav_links a {
  padding: 0.5rem !important;
  }
  nav .nav_links_user {
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 0.5rem 1rem 0.5rem !important;
  }
  
  .category_forum .forum_title {
    font-size: 2em;
  }
  .category_forum {
    border-bottom: var(--border_1) var(--border_color_1);
  }
  .category_header {
    text-transform: uppercase;
  font-family: var(--font_title);
  font-size: 2em;
  line-height: 20px;
  font-weight: 700;
  color: var(--backg_6);
  letter-spacing: 4px;
  z-index: 1;
  }
  .category_forum .forum_links {
    align-self: flex-start;
    flex-direction: row !important;
    justify-content: space-between;
    width: auto;
    flex-wrap: wrap;
  }
  .forum_links .gensmall {
    width: fit-content;
  }
  .category_content {
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .input-subtle, .inputbox, .gensmall {
    border-bottom: none;
  }
  
  .statistics {
    padding: var(--padding_min) !important;
    display: flex;
    flex-direction: column;
  }
  .statistics_content {
    display: flex;
    flex-direction: column;
  }
  .statistics_links {
    display: flex;
    justify-content: center;
  }
  .statistics_online, .statistics_today {
    border-bottom: 1px solid var(--border_color_1);
    padding-bottom: var(--padding_min) !important;
  }
  .whoisonline-category {
    font-size: 0;
  background-color: transparent;
  border: none;
  }
  .whoisonline-category::before {
    font-size: 0;
  }
  .statistics_today_list > div:last-of-type::after, .statistics_online_list > div:last-of-type::after {
    content: '' !important;
  }
  .whoisonline-user {
    border: none;
    font-size: 14px;
    display: inline;
  }
  .whoisonline-user::after {
    content: ', ';
  }
  .footer__credits {
    flex-direction: column;
    gap: var(--padding_min);
  }
  .footer__credits p {
    width: 100%;
  }
  .statistics_newmember {
    flex-direction: row;
  gap: 0;
  margin-bottom: 1em !important;
  }
  .statistics_newmember a {
  align-items: flex-start;
  font-size: 2em;
  }
  
  .mobile_title_content {
  font-size: 0;
  }
  .postrow_post_header {
    padding: var(--padding_min) !important;
    gap: var(--padding_min) !important;
  }
  .postrow_post_header strong {
    font-size: 1.5rem !important;
  }
  .postrow_post_main {
    flex-direction: column;
  }
  .postrow_post_fixed {
    display: flex;
  flex-direction: row;
  gap: var(--padding_min);
  justify-content: space-between;
  }
  .postrow_post_edition, .postrow_post_contact, .formyp {
    flex-direction: column !important;
  }
  .postrow_post_avatar {
    background-size: cover;
  background-position: center;
  }
  .postrow_postbody {
    padding: var(--padding_min) !important;
  }
  .postrow_postbody {
    overflow-x: auto;
  }
  blockquote, .codebox {
    margin: 0 !important;
  }
  .box-subtle h2, .box-subtle .box-header {
    font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  color: var(--backg_2);
  }
  .box-subtle {
    padding: 0.5em !important;
    border-color: var(--border_color_1);
  background: var(--backg_1);
  }
  .btn {
    line-height: 12px;
    width: 100%;
    color: var(--accent_1);
  }
  textarea.input-subtle {
    height: 200px;
    color: var(--color_text_1);
  }
  .codebox code {
  overflow-y: auto;
  padding: 8px 12px 8px 8px !important;
  overflow-x: hidden;
    white-space: wrap;
  }
  .award {
    background-image: var(--award-image);
  background-size: cover;
  }
  
  .fields1 {
    min-width: 100% !important;
  }
  .sceditor-button {
    background: var(--backg_1) !important;
  border-color: var(--border_color_1) !important;
  }
  
  .listrow_content_content {
    padding: var(--padding_min) !important;
  }
  .listrow_row {
    flex-direction: row;
  flex-wrap: wrap;
    justify-content: space-between;
    gap: 0;
  }
  .row_lastuser {
    width: auto;
    flex-direction: row !important;
  }
  .row_principal {
    width: 100%;
  }
  
  .box, .module, .mini-chatbox {
    background: var(--backg_1);
  padding: var(--padding_min) !important;
  }
  label {
    margin-bottom: 8px !important;
    margin-right: 1em !important;
  }
  input.input-subtle, input.inputbox, select.input-subtle {
    line-height: inherit;
  }
  .checkbox-check::after {
    height: 10px;
  left: -3px;
    top: -14px;
  width: 6px;
    content: '';
  border-bottom: 3px solid var(--accent_1);
  border-right: 3px solid var(--accent_1);
  transform: rotate(30deg);
  }
  .radio-check::after {
    left: -4px;
    top: -13px;
    height: 9px;
    width: 9px;
    background-color: var(--accent_1);
  }
  .radio, .checkbox {
    margin-right: 1em !important;
    border-color: var(--color_text_3);
  }
  
  .noList {
    padding: 0 !important;
    margin-left: 0px !important;
  }
  .noList li {
    width: 100%;
    font-family: var(--font_mono);
  text-transform: lowercase;
  font-size: 14px;
    text-shadow: var(--shadow_1);
  }
  .noList li > a {
    padding: 6px 8px !important;
    font-family: var(--font_esp);
  font-size: 1.5em;
    text-shadow: none;
  }
  ::marker {
    font-size: 0;
  }
}
