/* zmiana konta */
#fa_toolbar, #fa_toolbar_hidden {
    position: absolute;
  top: -1000px;
}

.switcheroo {}

.switcheroo[position="static"] {
  position: relative;
}

.switcheroo[position="top"] {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.switcheroo[position="bottom"] {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
}

.switcheroo[direction="horizontal"] {
  width: fit-content;
}

.switcheroo[direction="vertical"] {
  height: 100%;
}

.switcheroo__squircles {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  padding: var(--gap-size);
  gap: var(--gap-size);
}
.switcheroo[direction="horizontal"] .switcheroo__squircles {
  flex-direction: row;
}
.switcheroo[direction="vertical"] .switcheroo__squircles {
  flex-direction: column;
}

.switcheroo {
  color: var(--color-text);
    background: transparent !important;
    border: none;
    font-size: 16px;
    backdrop-filter: none;
}


/* AFFICHAGE DES COMPTES ---*/

/* Rond */
.switcheroo__squircle {
  position: relative;
  display: grid;
  place-items: center;
  background-color: var(--backg_1);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid var(--border_color_1);
  cursor: pointer;
  transition: border-radius 128ms var(--ease);
}

/* Rond au survol */
.switcheroo__squircle:hover {
  border-radius: 10px;
  border: 2px solid var(--border_color_2);
    background: var(--backg_3);
}

/* Contenenur de l'avatar */
.switcheroo__avatar {}


/* Image de l'avatar */
.switcheroo__avatar img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  object-position: center;
  border-radius: 50% !important;
  transition: border-radius 128ms var(--ease);
  position: relative;
  top: -2px;
    left: -2px;
    border: 2px solid var(--border_color_1);
}
.switcheroo__avatar img:hover {
    border-radius: 10px !important;
}

/* Image de l'avatar au survol */
.switcheroo__avatar img:hover {
  border-radius: 5px;
}

/* Avatar du compte connecté */
.switcheroo__squircle.active,
.switcheroo__squircle.active img {
  border-radius: 6px;
    cursor: default;
    width: 0px;
    height: 8px;
    margin-left: -1px!important;
    place-self: center;
}
.switcheroo__squircle.active img {
  border: 4px solid var(--accent_1);
}
.switcheroo__squircle.active > .switcheroo__delete {
  display: none;
}
.switcheroo__squircle.active > .switcheroo__popper {
  margin-top: 33px !important;
}
.switcheroo__squircle.active::before, .switcheroo__popper::before, .switcheroo__squircle.active > .switcheroo__popper > .switcheroo__popper-text {
  display: none;
}
.switcheroo__squircle.active > .switcheroo__popper::after {
  content: 'PPM - zaktualizuj awatar!';
}

/* Indicateur de l'avatar survolé */
.switcheroo__squircle:before {
  content: "";
  display: block;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  height: 48px;
  width: 48px;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: -5px;
  bottom: 0;
  right: 0;
  left: -5px;
  z-index: -1;
  transform 128ms var(--ease), opacity 64ms var(--ease);
}


/* Indicateur du compte sélectionné/actif */
.switcheroo__squircle.active:before {
  opacity: 1;
  border-radius: 8px;
}

.switcheroo__squircle:hover:before {
    border-radius: 8px;
    opacity: 1;
  transform 128ms var(--ease), opacity 64ms var(--ease);
}


/* Bouton de suppression */
.switcheroo__delete {
  display: grid;
  place-items: center;
  position: absolute;
  width: 16px;
  height: 16px;
  line-height: 20px;
  top: -7px;
  right: -7px;
  border-radius: 50%;
  background-color: var(--red);
  transform: scale(0);
  opacity: 1;
  transition: transform 128ms var(--ease), opacity 64ms var(--ease);
  cursor: pointer;
  color: var(--light);
}
.switcheroo__squircle:hover .switcheroo__delete {
  opacity: 1;
  transform: scale(1);
}



/* TOOLTIP - INFOBULLE DU PSEUDO ---*/

/* Conteneur du pseudo */
.switcheroo__popper {
  position: absolute;
  width: -webkit-max-content;
  width: max-content;
  z-index: 0;
  opacity: 0;
  transition: opacity 64ms var(--ease), transform 128ms var(--ease-bounce);
  pointer-events: none;
  padding: 5px 10px!Important;
    background: var(--backg_3);
    border: var(--border_1) var(--border_color_1);
    font: 400 1rem var(--font_body)!important;
  color: var(--color_text_1);
}

/* Conteneur du pseudo: si vertical */
.switcheroo[direction="vertical"] .switcheroo__popper {
  left: 155%;
  top: 50%;
  transform-origin: left;
  transform: translateY(-50%) scale(0.98);
}
/* Conteneur du pseudo : si horizontal */
.switcheroo[direction="horizontal"] .switcheroo__popper {
  top: 155%;
  left: 50%;
  transform-origin: top;
  transform: translateX(-50%) scale(0.98);
}

/* Flèche tooltip */
.switcheroo__popper:before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  background-color: var(--backg_4);
  z-index: -1;
}

/* Flèche tooltip : si vertical */
.switcheroo[direction="vertical"] .switcheroo__popper:before {
  left: -2px;
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}

/* Flèche tooltip : si horizontal */
.switcheroo[direction="horizontal"] .switcheroo__popper:before {
  left: 50%;
  top: -2px;
  transform: translateX(-50%) rotate(-45deg);
}


/* Positionnement tooltip au survol */
.switcheroo[direction="vertical"] .switcheroo__squircle:hover .switcheroo__popper {
  opacity: 1;
  transform: translateY(-50%) scale(1);
}
.switcheroo[direction="horizontal"] .switcheroo__squircle:hover .switcheroo__popper {
  opacity: 1;
  transform: translateX(-50%) scale(1);
}



/* LOGO --- */
.switcheroo__logo {
  display: none;
  /* à ajouter si vous voulez supprimer le logo*/
}

/* DIVIDER : barre de séparation --- */
.switcheroo__divider {
  /* display: none */
  /* à ajouter si vous voulez supprimer le logo*/
  
  background-color: var(--accent_1);
  transform: scale(0.8);
}

/* Divider : si vertical */
.switcheroo[direction="vertical"] .switcheroo__divider {
  width: 100%;
  height: 2px;
}

/* Divider : si horizontal */
.switcheroo[direction="horizontal"] .switcheroo__divider {
  width: 2px;
}


/* AJOUTER UN COMPTE ---*/

/* button : ajouter un compte */
.switcheroo__squircle--button {
  transition: border-radius 128ms var(--ease);
  color: var(--text);
}
.switcheroo__squircle--button:hover {
  color: var(--accent_1);
  font-weight: 500;
}


/* MODAL : FENETRE DE CONNEXION --- */

/* Fond de l'afficage connexion */
.monomer-overlay {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  transition: 0.2s opacity ease;
  background: var(--backg_1);
}

/* Boîte de connexion */
.monomer-modal {
  position: fixed;
  z-index: 999;
  top: 50%;
  left: 50%;
  opacity: 0;
  width: 94%;
  padding: 24px 20px;
  transition: 0.2s opacity ease;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  background: var(--grey);
  color: var(--color_banner);
}

/* Formulaire */
.switcheroo__form {
  padding: 48px;
  background: var(--backg_body);
  border-radius: 5px;
}

/* Champs à remplir */
.switcheroo__form-row {
  display: flex;
    flex-flow: column;
    align-items: center;
    margin: 16px !important;
    flex-direction: row;
}

/* Nom du champs */
.switcheroo__form-label {
  margin-bottom: 8px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
}

/* Zone de texte */
.switcheroo__form-input {
  padding: 6px;
  font-size: 16px;
  border-radius: 4px;
  width: 100%;
  border: 2px solid var(--border_color_1) !important;
  color: var(--color_banner);
  cursor: text;
}

/* Bouton de connexion */
.switcheroo__form-button {
  border-radius: 8px;
    padding: 4px 6px !important;
    outline: none;
    box-shadow: none;
    text-transform: uppercase;
    font-size: 14px;
    align-self: flex-end;
    background-color: var(--backg_5);
    border: 2px solid var(--border_color_1) !important;
    cursor: pointer;
    color: var(--color_banner);
}

.switcheroo__form-button:hover {
  border: 1px solid transparent;
  background: var(--text);
  color: var(--light);
}

.monomer-modal.monomer-open, .monomer-overlay.monomer-open {
  opacity: 1;
}

/* Fermer la boîte de connexion */
.monomer-close {
  font-size: 20px;
    display: grid;
    place-items: center;
    width: 24px;
    height: 24px;
    position: absolute;
    top: -7px;
    right: -7px;
    padding: 5px;
    cursor: pointer;
    color: var(--accent_1);
    border: 0;
    outline: none;
    background: var(--color_banner);
    border-radius: 50%;
    z-index: 999;
}
.monomer-close:hover {
  background: var(--text);
  font-weight: 700;
}


@media screen and (max-width: 800px) {
  #min-width {
  background: var(--backg_body);
  }
  body {
    overflow-x: hidden;
  }
  main {
    padding: 0.5rem 0.5rem 0 !important;
  }
  banner {
    height: 300px !important;
    margin-bottom: 0 !important;
  }
  header > div:first-of-type > div:last-of-type, .adm_box_content > div:first-of-type > div:last-of-type {
    height: auto;
    flex-direction: column;
    padding: var(--padding_med) !important;
    gap: 0 !important;
  }
  header > div:first-of-type > div:last-of-type div, .adm_box_content > div:first-of-type > div:last-of-type div {
    padding: 0 !important;
  margin: 0 !important;
    border: none !important;
    gap: 1rem !important;
  }
  banner h1 {
    font-size: 5em !important;
  }
  banner sub, .kreskaogl > span {
    font-size: 1.5em !important;
  }
  main {
    width: 100%;
  }
  header .header_notes, .adm_box_content .header_notes, .poster-list.posts-users-list, .btn-black, .quick-reply .box-header img, .row_icon {
    display: none;
  }
  .row_icon, .select-subtle::after, .memberlist-avatar.tooltipstered, .memberlist-info > div:nth-child(2) {
    display: none !important;
  }
  header > div:first-of-type > div:last-of-type img, .adm_box_content > div:first-of-type > div:last-of-type img {
    width: auto !important;
    height: 90% !important;
  }
  header .header_links, .adm_box_content .header_links {
    left: 0;
  }
  header > div:first-of-type > div:last-of-type > div > div {
    overflow-x: auto !important;
  overflow-y: hidden !important;
    flex-direction: row !important;
    justify-content: space-between !important;
    height: 100px !important;
  }
  header, .adm_box_content {
    display: flex !important;
    flex-direction: column !important;
  }
  header > div:first-of-type > div h1 {
    font-size: 3em !important;
  }
  header > div:first-of-type > div sub, header .header_links {
    font-size: 1em !important;
  }
  header > div:first-of-type > div:last-of-type p, #slideBack, header .header_notes button, .adm_box_content .header_notes button, header .recent_topic, .adm_box_content .recent_topic {
    font-size: 1.0em !important;
    height: 200px;
  }
  header .recent_topic, .adm_box_content .recent_topic {
    height: 160px !important;
  }
  header .adm_box_content {
    font-size: 1.2em !important;
  }
  .header_banner .megafon {
    opacity: 1 !important;
    backdrop-filter: none;
    height: 100%;
    background: none;
    color: var(--color_text_1);
    font-size: 1em !important;
  }
  .niemaogl {
    height: 0 !important;
  }
  header .header_banner {
    height: 200px;
    background: none;
    padding: 0 var(--padding_med) !important;
    filter: none;
  }
  
  nav, nav .nav_links_user, nav .nav_links {
    flex-wrap: wrap;
  }
  nav .nav_links {
    justify-content: center;
    width: 100%;
  }
  nav .nav_links a {
  padding: 0.5rem !important;
  }
  nav .nav_links_user {
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 0.5rem 1rem 0.5rem !important;
  }
  
  .category_forum .forum_title {
    font-size: 2em;
  }
  .category_forum {
    border-bottom: var(--border_1) var(--border_color_1);
  }
  .category_header {
    text-transform: uppercase;
  font-family: var(--font_title);
  font-size: 2em;
  line-height: 20px;
  font-weight: 700;
  color: var(--backg_6);
  letter-spacing: 4px;
  z-index: 1;
  }
  .category_forum .forum_links {
    align-self: flex-start;
    flex-direction: row !important;
    justify-content: space-between;
    width: auto;
    flex-wrap: wrap;
  }
  .forum_links .gensmall {
    width: fit-content;
  }
  .category_content {
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .input-subtle, .inputbox, .gensmall {
    border-bottom: none;
  }
  
  .statistics {
    padding: var(--padding_min) !important;
    display: flex;
    flex-direction: column;
  }
  .statistics_content {
    display: flex;
    flex-direction: column;
  }
  .statistics_links {
    display: flex;
    justify-content: center;
  }
  .statistics_online, .statistics_today {
    border-bottom: 1px solid var(--border_color_1);
    padding-bottom: var(--padding_min) !important;
  }
  .whoisonline-category {
    font-size: 0;
  background-color: transparent;
  border: none;
  }
  .whoisonline-category::before {
    font-size: 0;
  }
  .statistics_today_list > div:last-of-type::after, .statistics_online_list > div:last-of-type::after {
    content: '' !important;
  }
  .whoisonline-user {
    border: none;
    font-size: 14px;
    display: inline;
  }
  .whoisonline-user::after {
    content: ', ';
  }
  .footer__credits {
    flex-direction: column;
    gap: var(--padding_min);
  }
  .footer__credits p {
    width: 100%;
  }
  .statistics_newmember {
    flex-direction: row;
  gap: 0;
  margin-bottom: 1em !important;
  }
  .statistics_newmember a {
  align-items: flex-start;
  font-size: 2em;
  }
  
  .mobile_title_content {
  font-size: 0;
  }
  .postrow_post_header {
    padding: var(--padding_min) !important;
    gap: var(--padding_min) !important;
  }
  .postrow_post_header strong {
    font-size: 1.5rem !important;
  }
  .postrow_post_main {
    flex-direction: column;
  }
  .postrow_post_fixed {
    display: flex;
  flex-direction: row;
  gap: var(--padding_min);
  justify-content: space-between;
  }
  .postrow_post_edition, .postrow_post_contact, .formyp {
    flex-direction: column !important;
  }
  .postrow_post_avatar {
    background-size: cover;
  background-position: center;
  }
  .postrow_postbody {
    padding: var(--padding_min) !important;
  }
  .postrow_postbody {
    overflow-x: auto;
  }
  blockquote, .codebox {
    margin: 0 !important;
  }
  .box-subtle h2, .box-subtle .box-header {
    font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  color: var(--backg_2);
  }
  .box-subtle {
    padding: 0.5em !important;
    border-color: var(--border_color_1);
  background: var(--backg_1);
  }
  .btn {
    line-height: 12px;
    width: 100%;
    color: var(--accent_1);
  }
  textarea.input-subtle {
    height: 200px;
    color: var(--color_text_1);
  }
  .codebox code {
  overflow-y: auto;
  padding: 8px 12px 8px 8px !important;
  overflow-x: hidden;
    white-space: wrap;
  }
  .award {
    background-image: var(--award-image);
  background-size: cover;
  }
  
  .fields1 {
    min-width: 100% !important;
  }
  .sceditor-button {
    background: var(--backg_1) !important;
  border-color: var(--border_color_1) !important;
  }
  
  .listrow_content_content {
    padding: var(--padding_min) !important;
  }
  .listrow_row {
    flex-direction: row;
  flex-wrap: wrap;
    justify-content: space-between;
    gap: 0;
  }
  .row_lastuser {
    width: auto;
    flex-direction: row !important;
  }
  .row_principal {
    width: 100%;
  }
  
  .box, .module, .mini-chatbox {
    background: var(--backg_1);
  padding: var(--padding_min) !important;
  }
  label {
    margin-bottom: 8px !important;
    margin-right: 1em !important;
  }
  input.input-subtle, input.inputbox, select.input-subtle {
    line-height: inherit;
  }
  .checkbox-check::after {
    height: 10px;
  left: -3px;
    top: -14px;
  width: 6px;
    content: '';
  border-bottom: 3px solid var(--accent_1);
  border-right: 3px solid var(--accent_1);
  transform: rotate(30deg);
  }
  .radio-check::after {
    left: -4px;
    top: -13px;
    height: 9px;
    width: 9px;
    background-color: var(--accent_1);
  }
  .radio, .checkbox {
    margin-right: 1em !important;
    border-color: var(--color_text_3);
  }
  
  .noList {
    padding: 0 !important;
    margin-left: 0px !important;
  }
  .noList li {
    width: 100%;
    font-family: var(--font_mono);
  text-transform: lowercase;
  font-size: 14px;
    text-shadow: var(--shadow_1);
  }
  .noList li > a {
    padding: 6px 8px !important;
    font-family: var(--font_esp);
  font-size: 1.5em;
    text-shadow: none;
  }
  ::marker {
    font-size: 0;
  }
}
